.dot-list {
  position: relative;
}
.dot-list button {
  border-radius: 0;
  border: 0;
  width: 40px;
  height: 1px;
  background-color: #0F0F0F;
}
.react-multi-carousel-list {
  margin-bottom: 55px;
}
.react-multi-carousel-dot--active button {
  height: 3px;
}

